<% provide(:title, 'About Us') %>
<h1>About Us</h1>
<p>
  With over 600 locations in the world,<br>
  Ajisen Ramen is known far and wide for<br>
  serving delicious ramen.<br><br>
  In addition, we bring you fresh sushi,<br>
  bento boxes, bubble tea, and more<br>
  at three convenient locations in New York. 
</p>