<% provide(:title, @user.name) %>
<div class="row">
	<aside class="span4">
		<section>
			<h1>
				<%= gravatar_for @user %>
				<%= @user.name %>
				<% if current_user.admin? || correct_user? %>
					<br>Loyalty Points: <%= @user.points %>
				<% end %>
			</h1>
		</section>
	</aside>
</div>