<footer class="footer">
  <small>
    <a href="http://railstutorial.org/">Web Development</a>
    by Eric Liu
  </small>
  <nav>
    <ul>
      <li><%= link_to "Contact",   contact_path %></li>
    </ul>
  </nav>
</footer>